body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #222222;
}

h1 {
  color: #cccccc;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}

#search {
  text-align: center;
  color: #cccccc;
  width: 25%;
  position: relative;
}

.map {
  position: absolute;
  height: 100%;
  bottom: 0px;
  left: 250px;
  right: 0px;
}

.list {
  list-style: none;
  padding: 0px;
}

.title {
  color: aliceblue;
  font-size: 12px;
  padding: 0 0 20px 20px;
}

input {
  height: 25px;
  border-radius: 5px;
  font-size: 15px;
  margin: 0 10px 10px 0;
}